<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"/>
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="static/css/sign-in.css" />
    <title>Tableau de bord - Harvester</title>
  </head>
<body>
  <nav class="navbar navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
      <img src="/static/assets/brand/harvester.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Harvester 
    </a>
  </nav>
      <div class="container mt-5">
          <div class="row">
              <!-- Première Carte -->
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Nom de l'hôte</h5>
                          <p class="card-text"> {{data_details.hostname}} </p>
                      </div>
                  </div>
              </div>
  
              <!-- Deuxième Carte -->
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Latence en millisecondes - MàJ 10 secondes</h5>
                        <p class="card-text" id="dynamicLatency">{{latency_wan}}</p>
                        <script>
                            function changeLatency() {
                                var xhr = new XMLHttpRequest();
                                xhr.open('POST', '/get_latency', true);
                                xhr.setRequestHeader('Content-Type', 'application/json');
                                xhr.onload = function() {
                                    if (xhr.status === 200) {
                                        var response = JSON.parse(xhr.responseText);
                                        document.getElementById("dynamicLatency").innerText = response.content;
                                    }
                                };
                                xhr.send();
                            }
                            // Mesure de la latence toutes les 10 secondes
                            setInterval(changeLatency, 10000);  
                          </script>                     
                      </div>
                  </div>
              </div>
  
      <body>
        <div class="container mt-5">
            <div class="row">
                <!-- Troisième Carte -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">IP</h5>
                            <p class="card-text">{{data_details.host_ip}}</p>
                        </div>
                    </div>
                  </div>

    
                <!-- Quatrième Carte -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Statut</h5>
                            <p class="card-text">{{data_details.statut}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <body>
          <div class="container mt-5">
              <div class="row">
                  <!-- Troisième Carte -->
                  <div class="col-md-6">
                      <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">OS Version</h5>
                              <p class="card-text">{{data_details.os_v}}</p>
                          </div>
                      </div>
                    </div>
  
      
                  <!-- Quatrième Carte -->
                  <div class="col-md-6">
                      <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">Agent version</h5>
                              <p class="card-text">{{data_details.agent_version}}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    



    <div class="container mt-5">
    <p id="result"></p>
    <button class="btn btn-dark" onclick="updateTable()">Mise à jour Nmap</button>    
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">IP</th>
            <th scope="col">Open Ports</th>
          </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
      </table>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <h1 id="dynamicContent">{{ content }}</h1>
      <script>
        function updateTable() {
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/dashboard/refresh_nmap', true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.onload = function() {
              if (xhr.status === 200) {
                  var response = JSON.parse(xhr.responseText);
                  var tableBody = document.getElementById("tableBody");
                  tableBody.innerHTML = ''; // Efface le contenu actuel du tableau
                  var data = response.data_details_nmap;
                  for (var i = 0; i < data.num_connected_hosts; i++) {
                      var row = `<tr>
                                   <th scope="row">${i+1}</th>
                                   <td>${data.ip_adresses[i]}</td>
                                   <td>${data.open_ports[i].join(', ')}</td>
                                 </tr>`;
                      tableBody.innerHTML += row;
                  }
              }
          };
          xhr.send();
      }
    </script>
    </div>
    </body>
</html>