<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"/>
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="static/css/sign-in.css" />
    <title>Liste des Harvester</title>
  </head>
  <body>
    <div class=container>
    <h1 class="display-4">Nester</h1>
    <h2 class="display-6">Liste des Harvester </h2>
    </div>
    <div class="container">
    <div class="row">
      {% for data in hostnames %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h4 class="card-title">
                  <i class="{% if data.statut == 'Connected' %}fas fa-circle text-success{% else %}fas fa-circle text-danger{% endif %}"></i>
                  {% if data.statut == 'Connected' %} {{ data.statut }} {%else%}{{  data.statut }} {% endif %}
                </h4>
                <h4 class="bi bi-ethernet">   {{ data.ip_address }}</h4>
                <a href="/voir-client-info/{{ data.hostname }}" class="btn btn-dark">Détails</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
