<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"/>
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="static/css/sign-in.css" />
    <title>Liste des Harvester</title>
  </head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/static/assets/brand/NFL.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Harvester 
    </a>
  </nav>
      <div class="container mt-5">
          <div class="row">
              <!-- Première Carte -->
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Titre Carte 1</h5>
                          <p class="card-text">Description ou contenu de la première carte.</p>
                      </div>
                  </div>
              </div>
  
              <!-- Deuxième Carte -->
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Titre Carte 2</h5>
                          <p class="card-text">Description ou contenu de la deuxième carte.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
      <body>
        <div class="container mt-5">
            <div class="row">
                <!-- Première Carte -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Titre Carte 1</h5>
                            <p class="card-text">Description ou contenu de la première carte.</p>
                        </div>
                    </div>
<br>
                  </div>

    
                <!-- Deuxième Carte -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Titre Carte 2</h5>
                            <p class="card-text">Description ou contenu de la deuxième carte.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
  
        
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>