<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Harvester</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Liste des Harvester</h1>
      <div class="container">
        <div class="row">
          {% for data in hostnames %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h5 class="card-title"> {{ data.hostname }} </h5>
                <p class="card-text">Statut {{ data.statut }}</p>
                <p class="card-text">IP {{ data.ip_address }}</p>
                <a href="#" class="btn btn-primary">Détails</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
</body>
</html>
