<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Bienvenue sur le Site EPSI ASRBD</h1>

        <!-- Liens de navigation -->
        <div class="list-group">
            <a href="/voir-client-info" class="list-group-item list-group-item-action">Voir les Informations des Clients</a>
            <a href="/login" class="list-group-item list-group-item-action">Page de Connexion</a>
            <a href="/logout" class="list-group-item list-group-item-action">Déconnexion</a>
            <!-- Ajoutez d'autres liens ici selon les besoins de votre site -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
